.work {
}
.photo__container{

}
.section-work{
  padding-bottom: 94px;
}
.photo__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-title {
  margin-bottom: 50px;
}

.photo__list { 
  display: flex;
  gap: 30px;
}
.photo__item {
 

}

.photo__item-wrap {
position: relative;
  width: 100%;



}
.photo__item-title {
position: absolute;
bottom: 0;
left: 0;
color:  var(--background-color);
background-color: var(--work-item-color);
  font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
  width:100% ;
padding:27px 0;

}
