body {
font-family: 'Roboto', sans-serif;
color: var(--title-text-color);
background-color: var(--background-color) ;
}
.list {
list-style: none;
}
.link {
text-decoration: none;
}
.is-hidden{
  visibility:hidden;
  opacity: 0;
  pointer-events: none;
}